@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro&display=swap');

body {
  color: var(--dark-blue);
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

:root {
  --white: #f1f1f1;
  --light-yellow: #fffee9;
  --yellow: #f7bd0f;
  --dark-blue: #011f41;
  --green: #b5e3ff;
  --pink: #da5772;
  --light-pink: #ffeff9;
}
